[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tf-agents = "*"
tensorflow = "*"
numpy = "*"
matplotlib = "*"
pandas = "*"
datetime = "*"
questionary = "*"
prompt-toolkit = "*"
rich = "*"
tensorflow-metal = "*"
tensorboard = "*"
mplfinance = "*"
mujoco-py = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.6"
