[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tf-agents = "*"
numpy = "*"
matplotlib = "*"
pandas = "*"
datetime = "*"
questionary = "*"
prompt-toolkit = "*"
rich = "*"
tensorboard = "*"
mplfinance = "*"
tensorflow = {extras = ["and-cuda"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
